<nav class="main-menu">
  <div class="row">
    {{#link-to 'staff'}}
      <div class="small-3 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>Staff</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
    {{#link-to 'staff.create'}}
      <div class="small-3 small-offset-1 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>New Profile</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
    {{#link-to 'staff.create'}}
      <div class="small-3 small-offset-1 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>New Profile</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
  </div>
  <div class="row">
    {{#link-to 'staff'}}
      <div class="small-3 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>Item Name</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
    {{#link-to 'staff.create'}}
      <div class="small-3 small-offset-1 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>New Profile</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
    {{#link-to 'staff.create'}}
      <div class="small-3 small-offset-1 columns text-center">
        <div class="card">
          <i class="fa fa-group fa-5x card-image"></i>

          <div class="card-label">
            <h5>New Profile</h5>
          </div>
        </div>
      </div>
    {{/link-to}}
  </div>
</nav>